{{ define "default/index.html" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/css/base.css">
</head>
<body>

{{template "public/page_header.html" .}}
<img src="/static/images/sxh.png" alt="">

    <h2>{{.title}}</h2>

<!--条件判断-->
{{if ge .score 60}}
    <p>及格</p>
{{else}}
    <p>不及格</p>
{{end}}

{{if gt .score 90}}
    <p>优秀</p>
{{else if gt .score 80}}
    <p>良好</p>
{{else if gt .score 60}}
    <p>及格</p>
{{else}}
    <p>不及格</p>
{{end}}

<!-- 循环遍历数据 -->
{{range .hobby}}
    <p>{{.}}</p>
{{end}}

{{range $key,$value := .hobby}}
    <ul>
        <li>{{$key}}-----{{$value}}</li>
    </ul>
{{end}}

{{range $key,$value := .newsList}}
    <ul>
        <li>{{$key}}-----{{$value.Title}}-----{{$value.Content}}</li>
    </ul>
{{end}}

{{range $key,$value := .testSlice}}
    <ul>
        <li>{{$key}}-----{{$value.Title}}-----{{$value.Content}}</li>
    </ul>
    {{else}}
    <li>啥也不是</li>
{{end}}

    <!-- with 解构结构体 -->
<p>{{.news.Title}}</p>
<p>{{.news.Content}}</p>

{{with .news}}
    <p>{{.Title}}</p>
    <p>{{.Content}}</p>
{{end}}
    <br>
 <!-- 预定义函数 -->
{{len .title}}
    <br>
<!-- 自定义模板函数 -->
{{.date}}
    <br>
{{UnixToTime .date}}
    <br>
    <br>
{{Println .title .msg}}

<br>

{{template "public/page_footer.html" .}}

</body>
</html>
{{end}}