{{ define "default/index.html" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>{{.title}}</h2>

<!--条件判断-->
{{if ge .score 60}}
    <p>及格</p>
{{else}}
    <p>不及格</p>
{{end}}

{{if gt .score 90}}
    <p>优秀</p>
{{else if gt .score 80}}
    <p>良好</p>
{{else if gt .score 60}}
    <p>及格</p>
{{else}}
    <p>不及格</p>
{{end}}

<!-- 循环遍历数据 -->
{{range .hobby}}
    <p>{{.}}</p>
{{end}}

{{range $key,$value := .hobby}}
    <ul>
        <li>{{$key}}-----{{$value}}</li>
    </ul>
{{end}}

{{range $key,$value := .newsList}}
    <ul>
        <li>{{$key}}-----{{$value.Title}}-----{{$value.Content}}</li>
    </ul>
{{end}}

{{range $key,$value := .testSlice}}
    <ul>
        <li>{{$key}}-----{{$value.Title}}-----{{$value.Content}}</li>
    </ul>
    {{else}}
    <li>啥也不是</li>
{{end}}

    <!-- with 解构结构体 -->
<p>{{.news.Title}}</p>
<p>{{.news.Content}}</p>

{{with .news}}
    <p>{{.Title}}</p>
    <p>{{.Content}}</p>
{{end}}

</body>
</html>
{{end}}